body {
    background: linear-gradient(to top right, #000000 0%, #ff99cc 100%);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eaf6f6;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #4d3664;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}